/************** TAG SELECTORS ************/
/*
font-family: 'Carter One', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Joti One', cursive;
*/
canvas {
  border: 1px solid #d3d3d3;
  background-color: #080808;
  position: absolute;
  top: 10px;
  left: 300px;
}
button{
  width: 55px;
  height: 35px;
}

/************** CLASS SELECTORS ************/

.dashboard{
  position: fixed;
  left: 20px;
}
.playercontrolsdiv{
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: Grey;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}
.outputdiv{
  font-size: 15px;
  width: 260px;
  height: 60px;
  color: forestgreen;
  font-family: 'Carter One', cursive;
  border: 4px;
  border-style: inset;
  border-color: forestgreen;
}
.verticalbuttons{
  width: 115px;
  height: 35px;
}
.playername{
  font-family: 'Gochi Hand', cursive;
  font-size: 25px;
}

/************** ID SELECTORS ************/
#coolyname{
  color: MediumBlue;
}
#smilyname{
  color: Gold;
}
#crazyname{
  color: Yellow;
}
#angryname{
  color: Tomato;
}
#naughtyname{
  color: Aquamarine;
}
#evilname{
  color: purple;
}
#alienname{
  color: purple;
}

#output{
  margin-left: 6px;
  margin-top: 3px;
  margin-right: 2px;
  margin-bottom: 2px;
}
